In [1]:
import re
s = 'ABCAC'

bool(re.match('A', s)) == True

True

In [ ]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = r"([^A])(?=AAA)"
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

result()

In [2]:
# Question 5
import pandas as pd
s1 = pd.Series({'Mango':20, 
                'Strawberry':15,
                'Blueberry':18, 
                'Vanilla':31})
s1
s2 = pd.Series({'Strawberry':20, 
                'Vanilla':30,
                'Banana':15, 
                'Mango':20,
                'Plain': 20})
s3 = s1.add(s2)

s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

C:\Users\crystallwi.xiaujing\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

True

In [5]:
# Questio 7
import numpy as np
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S[1:4]

b    1
c    2
d    3
dtype: int32

In [6]:
# Question 8
df = pd.DataFrame({'a': [5,5,71,67],
                   'b': [6,82,31,37],
                   'c': [20, 28, 92, 39]},columns=['a', 'b', 'c'],index=['R1', 'R2', 'R3', 'R4'])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  39

In [9]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [13]:
# Question 10
df = pd.DataFrame({'item': ['item1','item1','item1', 'item2','item2','item2'],
                   'Store': ['A','B','C', 'A', 'B', 'C'],
                   'qtty': [10.0, 20.0, np.nan, 5.0, 10.0, 15.0]})
df.groupby('item').sum().iloc[0]['qtty']

30.0